apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quoatdev-test
  namespace: {{ namespace }}
spec:
  accessModes:
    - {{ access_mode }}
  resources:
    requests:
      storage: {{ storage_size }}
