apiVersion: v1
kind: Pod
metadata:
  name: validator-pod
  namespace: {{ namespace }}
  labels:
    app: validation
spec:
  restartPolicy: OnFailure
  containers:
  - name: validator
    image: alpine
    resources:
      limits:
        cpu: "0.01"
        memory: 128Mi
    command: [ "/bin/sh", "-c", "--" ]
    args:
      - set -e;
        echo 'Validating';
        cd /data/vol;
        ls data.txt;
        ls binary.rnd;
        export CONTENT=$(cat data.txt);
        [[ "$CONTENT" == 'data inserted' ]] ||  { echo 'Wrong data content' && exit 1; } ;
        export SIZE=$( wc -c binary.rnd  | cut -d ' ' -f 1 );
        [[ $SIZE  == '1000000' ]] || { echo 'Wrong binary file size' && exit 1; };
    volumeMounts:
    - name: testvolume
      mountPath: /data/vol
  volumes:
  - name: testvolume
    persistentVolumeClaim:
      claimName: quoatdev-test
