---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ migration_namespace }}
  name: {{ migstorage_name }}-creds
type: Opaque
data:
  # [!] If using S3 / AWS, change aws-access-key-id and aws-secret-access-key to contain the base64 encoded keys
  #     needed to authenticate with the storage specified in migstorage.
  # [Note] these credentials will be injected into cloud-credentials in the 'velero' namespace.
  aws-access-key-id: {{ mig_controller_aws_access_key }}
  aws-secret-access-key: {{ mig_controller_aws_secret_key }}
