apiVersion: v1
kind: Secret
metadata:
  name: sa-token-{{ migcluster_source_name }}
  namespace: {{ migration_namespace }}
type: Opaque
data:
  # [!] Change saToken to contain a base64 encoded SA token with cluster-admin privileges on the remote (AWS) cluster
  saToken: {{ mig_controller_sa_token }}
