apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ namespace }}-test
  namespace: {{ namespace }}
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi
