apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ service_app }}
  name: my-{{ service_app }}
  namespace: {{ namespace }}
spec:
  ports:
  - port: 9999
    targetPort: 8888
  selector:
    app: {{ service_app }}
  type: {{ service_type }}
