apiVersion: migration.openshift.io/v1alpha1
kind: MigMigration
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ migration_name }}
  namespace: {{ migration_namespace }}
spec:
{% if stage is defined %}
  stage: {{ stage }}
{% endif %}
{% if quiesce is defined %}
  quiescePods: {{ quiesce }}
{% endif %}
  migPlanRef:
    name: {{ migration_plan_name }}
    namespace: {{ migration_namespace }}

