apiVersion: migration.openshift.io/v1alpha1
kind: MigPlan
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ migration_plan_name }}
  namespace: {{ migration_namespace }}
spec:

  srcMigClusterRef:
    name: {{ migcluster_source_name }}
    namespace: {{ migration_namespace }}

  destMigClusterRef:
    name: {{ migcluster_target_name }}
    namespace: {{ migration_namespace }}

  migStorageRef:
    name: {{ migstorage_name }}
    namespace: {{ migration_namespace }}

  # [!] Change namespaces to adjust which OpenShift namespaces should be migrated from source to destination cluster
  namespaces: 
  - {{ namespace }}

{% if pv is sameas true and pv_list is defined %}
  persistentVolumes:
{% for item in pv_list %}
  - name: {{ item }}
    selection:
      action: {{ pv_action }}
      storageClass: {{ dst_storage_class }}
{% if pv_action == 'copy' %}
      copyMethod: {{ pv_copy_method }}
{% endif %}
    supported:
      actions:
      - copy
      - move
{% endfor %}
{% endif %}
