apiVersion: migration.openshift.io/v1alpha1
kind: MigMigration
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ migration_name }}
  namespace: {{ migration_namespace }}
spec:
  stage: false
{% if quiesce is sameas true and quiesce is defined %}
  quiescePods: true
{% endif %}
  migPlanRef:
    name: {{ migration_plan_name }}
    namespace: {{ migration_namespace }}

